.thumbnail {
    height: 128px;
  }
  
.project {
    padding: 32px;
  }

.addButton {
    background-color: orangered;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 10%;
 }

 .addButton:active {
    background-color: lightslategray;
    color:white;
}

.icon {
  text-align: right;
  font-family: IcoMoon-Free;
}