.ranktitle{
    padding: 20px;
    font-weight : bold;
    font-size : 40px;
    color : white;
    background-color : rgb(0, 174, 255);
  }

.rankspace{
    padding : 5px;
    font-size : 5px;
}

.rankvalue{
    color :rgb(0, 174, 255);
    padding: 20px;
}

.number{
    font-family: serif;
    color :rgb(0, 174, 255);
    padding: 20px;
}