StackLayout {
    padding: 10px;
}

.title {
    font-weight: bold;
    color: #093A3E;
}

.stack1 {
    margin: 10px;
}

.stack2 {
    margin: 10px;
}

.stack3 {
    margin: 10px;
}

.stack4 {
    margin: 10px;
}

.stack5 {
    margin: 10px;
}

.stack6 {
    margin: 10px;
}